body{
    font-family: "Amaranth", sans-serif;
}
.nav-link {
    position: relative;
    padding-bottom: 5px;
    text-decoration: none;
    color: #000;
}

.nav-link.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #026086; 
}

.btn{
    background-color: #8a2be2;
}

.btn:hover{
    background-color:#6c18ba ;
}

.banner_image{
    width: 60%;
    margin: 0 auto;
    display: block;
}


.card-img-top{
    padding: 20px;
    width: 60%;
    height: 50%;
}

